@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
 /* color: #d9d9d9;*/
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

footer{
  bottom: 0px;
  width: 100%;
     background-color : #ededed;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #0a5bd4;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
 
  top: -10px;
}
.left .content p{
  text-align: justify;
 font-size: 14px;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 20px;
  width: 25px;
  background: #1a1a1a;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #0a5bd4;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;

}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
 /* background: #151515;*/
  padding-left: 10px;
  border: 1px solid ;
}
.right form input{
  height: 35px;
}

.right form .btn{
  margin-top: 10px;
  background: #0a5bd4;

}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
 background: #0a5bd4;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
 
}


  
.bottom center a{
  
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}